*{
  margin: 0;
  padding: 0;
  font-family: 'Jua', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 드래그 방지코드 */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageWrapper {
  overflow: hidden;
  height: 60vh;
  padding: 0 10px;
  color: #909090;
}

div[placeholder]:empty::before {
  display: block;
  content: attr(placeholder);
  color:#909090;
}

div:focus {
  outline:none;
}

textarea {
  border: none;
  resize: none;
  background-color: #fff9d8;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

textarea:focus {
  outline: none;
}